{% extends "gui/base.html" %}
{% block title %}
search
{% endblock %}
{% block menu %}
    <li><a href="{% url 'search' %}">Search</a></li>
    <li class="active"><a href="{% url 'submit' %}">Submit</a></li>
    <li><a href="{% url 'graph' %}">Graph</a></li>
{% endblock %}
{% block content %}
<form action="{% url 'submit' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <input type="text" class="form-control" name="submission" placeholder="Enter site name with http://">
        <span class="input-group-btn">
            <input type="submit" class="btn btn-default btn-primary" value="Submit" />
        </span>
    </div>
    {% if msg %}
    <div class="alert alert-info" role="alert">{{ msg }}</div>
    {% endif %}
</form>
{% endblock %}
