{% extends "gui/base.html" %}
{% load staticfiles %}

{% block title %}
graph
{% endblock %}

{% block script %}
    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script src="{% static 'js/graph.js' %}"></script>
{% endblock %}

{% block menu %}
    <li><a href="{% url 'search' %}">Search</a></li>
    <li><a href="{% url 'submit' %}">Submit</a></li>
    <li class="active"><a href="{% url 'graph' %}">Graph</a></li>
{% endblock %}

{% block content %}
    <svg id="graph"></svg>
{% endblock %}
